<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>footer</title>
</head>
<body>
	<div th:fragment="menu">
		<div class="ui attached stackable menu">
			<div class="ui container">
				<a class="item" href="#" th:href="@{/home}"><i class="home icon"></i>Home</a>
				<a class="item" href="#"><i class="grid layout icon"></i>Add a User</a>
				<a class="item" href="#"><i class="mail icon"></i>Message</a>
				<div class="ui dropdown item simple">
					More
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="#"><i class="edit icon"></i>Edit</a>
						<a class="item" href="#"><i class="globe icon"></i>Globe</a>
						<a class="item" href="#"><i class="settings icon"></i>Settings</a>
					</div>
				</div>
				<div class="right item">
					<div class="ui item input"><input type="text" placeholder="Search..."/></div>&nbsp;
					<div class="ui blue item"><a href="#" th:href="@{/login}">Logout</a></div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div th:fragment="footer">
		<div class="ui divider"></div>
		<div class="ui container">&copy; 2017 For Test</div>
	</div>
</body>
</html>